<ion-header [translucent]="true">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h2>A quick and handy way to find a towing serice, that you will hopefully never need to us!</h2>

    <h3>Estimates are for estimation purposes only, additional charges may route variations may affect pricing.</h3>

    <img src='assets/truck.jpg'/>
</ion-content>
